{% spaceless %}
<a href="{{ object.url }}"
    id="{{ link.id }}"
    data-reference
    data-link-id="{{ link.id }}"
    data-link-target-type="{{ object.contentType }}"
    data-label="{{ object }}"
    {% if not link.label %}data-direct-link="true" {% endif %}>
  <span class="reference--target">{{ object }}</span>
  {% if link.label %}
    <span class="reference--label--inline">{{ link.label }}</span>
  {% endif %}
</a>
{% endspaceless %}