{% spaceless %}
<a href="{{ object.url }}"
    id="{{ link.id }}"
    data-reference data-link-id="{{ link.id }}"
    data-link-target-type="{{ object.contentType }}"
    {% if object.contentType == 'tag' %}data-tag="{{ object }}"{% endif %}
    {% if not link.label %}data-direct-link="true" {% endif %}>
  <span class="reference--target">{{ object }}</span>
</a>
{% endspaceless %}
