{% load generator_utils going_hybrid %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block page_title %}{{ PUBLICATION_TITLE|striptags }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ PATH_CSS_GENERATED }}" type="text/css" media="all">
  </head>
  <body {% if page_content.content_type %}data-content-type="{{ page_content.content_type}}"{% endif %} {% if page_content.model %}data-content-model="{{ page_content.model.key }}"{% endif %}>
    <header>
      <nav id="nav">
        {% going_hybrid_navbar %}
      </nav>
      <nav id="nav--sub">{% block subnav %}{% endblock %}</nav>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <aside>{% block aside %}{% endblock %}</aside>
    <footer>
      {% if SNIPPETS.FOOTER %}
      {{ SNIPPETS.FOOTER }}
      {% endif %}
    </footer>
    {% if PATH_JAVASCRIPT %}
      <script src="{{ PATH_JAVASCRIPT }}"></script>
    {% endif %}
    <script>
      var labels = document.querySelectorAll('[data-label][data-direct-link]');
      
      for (let i = 0; i < labels.length; i++) {
        const label = labels[i];
        parent = label.parentElement;
        label = label.dataset.label;
        parent.classList.add('label--' + label.replace(/\s+/g, '-'));
      }

      var images = document.querySelectorAll('img');

      for (let i=0; i < images.length; i++) {
        if (images[i].src.endsWith(')')) {
          images[i].src = images[i].src.substring(0, images[i].src.length - 1)
        }
      }
    </script>
  </body>
</html>