{% extends "generator/base.html" %}
{% load generator_utils %}
{% block page_title %}{{ block.super }} | {{ title }}{% endblock %}
{% block content %}
  <h1>{{ title }}</h1>
  <ul>
    {% for object in objects %}
      <li>
        <a href="{{ object.url }}">{{ object }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}