{% extends "generator/base.html" %}
{% load generator_utils %}
{% block page_title %}{{ block.super }} > {{ object.plural|title }} > {{ object }}{% endblock %}
{% block content %}
  <h6>{{ object.contentType }}</h6>
  <h1>{{ object }}</h1>
  {% if object.content or object.labels %}
    {% if object.content or object.labels %}
      {{ object.content }}
    {% endif %}
    {% if object.labels %}
      <div class="object--labels-list--end">
        <h2>Labels</h2>
        <ul>
          {% for label in object.labels|unique %}
            <li><a href="{{ label.url }}">{{ label }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endif %}

{% endblock %}