{% load generator_utils %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ index_pad.title|striptags }}</title>
  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}/css/interface.css" />
  <link rel="stylesheet" type="text/css" media="print" href="{{ PATH_CSS_PRINT }}">
  <script>
    window.PagedConfig = { auto: false };
  </script>
  <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
</head>
<body>
  {% if index_pad %}
  <div class="front-matter">
    <div class="front-matter--title">
      <h1>{{ index_pad.title }}</h1>
    </div>
    <div class="front-matter--introduction">
      <h1>{{ index_pad.title }}</h1>
      {{ index_pad.content }}
    </div>
    <div class="toc">
      <h1>Table of Contents</h1>
      <ul>
        {% for chapter in chapters %}
          {% if chapter.position.value == 'before_content' and chapter.on_print.value != 'false' %}
            <li><a href="#{{chapter.key}}">{{ chapter.chapter }}</a></li>
          {% endif %}
        {% endfor %}
        {% for report in reports %}
          <li><a href="#{{report.key}}">{{ report.report }}</a></li>  
        {% endfor %}
        <!-- {% for pad in pads %}
          <li><a href="#{{pad.key}}">{{ pad.title }}</a></li>  
        {% endfor %} -->
        {% for chapter in chapters %}
          {% if chapter.position.value == 'after_content' and chapter.on_print.value != 'false' %}
            <li><a href="#{{chapter.key}}">{{ chapter.chapter }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  <div class="chapters">
    {% for chapter in chapters %}
      {% if chapter.position.value == 'before_content' and chapter.on_print.value != 'false' %}
        <div class="chapter" data-chapter="{{ chapter }}">
          <h1 id="{{ chapter.key }}">{{ chapter.chapter }}</h1>
          {{ chapter.content }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="reports">
    {% for report in reports %}
      <div class="report">
        <h1 id="{{ report.key }}">{{ report.report }}</h1>
        {{ report.content }}
      </div>
    {% endfor %}
  </div>
  <!-- <div class="pads">
    {% for pad in pads %}
      <div class="pad">
        <h1 id="{{ pad.key }}" >{{ pad.title }}</h1>
        {{ pad.content }}
      </div>
    {% endfor %}
  </div> -->
  {% for chapter in chapters %}
  <div class="chapters">
    {% if chapter.position == 'after_content' and chapter.on_print != 'false' %}
      <div class="chapter" data-chapter="{{ chapter }}">
        <h1 id="{{ chapter.key }}">{{ chapter.chapter }}</h1>
        {{ chapter.content }}
      </div>
    {% endif %}
  </div>
  {% endfor %}
  <div class="indexes">
    <div class="index" data-index="label">
      <h1>Index: labels</h1>
      <ul>
        {% for label in labels %}
          <li>
            {{ label }}
            {% for link in label|merged_links %}
              <span class="index-entry" data-link-id="#{{ link.id }}"></span>
            {% endfor %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% if PATH_JAVASCRIPT %}
    <script src="{{ PATH_JAVASCRIPT }}"></script>
  {% endif %}
  <script>
    function sorterByDomPostion (a, b) {
      if (a === b) {
        return 0;
      }
      else if (b === null) {
        return -1;
      }
      else if (a === null) {
        return 1;
      }
      else if (a.compareDocumentPosition(b) & Node.DOCUMENT_POSITION_FOLLOWING) {
        // A comes before B
        return -1;
      }
      else {
        if (a == b) {
          return 0;
        }

        return 1;
      }
    }

    function sorterByReferencedNodePosition (a, b) {
      let targetA = document.querySelector(a.dataset.linkId),
          targetB = document.querySelector(b.dataset.linkId);

      return sorterByDomPostion(targetA, targetB)
    }

    function reorderIndexEntries () {
      // https://developer.mozilla.org/en-US/docs/Web/API/Node/compareDocumentPosition
      let indexes = document.querySelectorAll('[data-index] ul');

      indexes.forEach(index => {
        console.log(index)
        let items = index.querySelectorAll('li');

        items.forEach(li => {
          let newEntries = [],
              entries = li.querySelectorAll('.index-entry');
          entries.forEach(entry => {
            newEntries.push(li.removeChild(entry));
          });
          newEntries.sort(sorterByReferencedNodePosition);
          newEntries.forEach(entry => li.appendChild(entry)); // Add them to indexs
        })
      });
    }

    reorderIndexEntries();
    window.PagedPolyfill.preview();
  </script>
</body>
</html>