:root {
  /* --color-dark: #09484d;
  --color-light: #f7fdfd;
  --color-contrast: #5ca6ca;
  --color-voice: #e1762f;
  --color-voice-: #c18573;
  --color-voice--: #937c00;
  --color-contribution: #97bfa1;
  --color-tag: #cea6c6;
  --color-pad: #d9d926;
  --color-station: #cd79d2;
  --color-image: #108189;
  --color-gallery: #c18573;
  --border-color: #09484d;
  --font-color: #09484d; */

  --color-dark: #09484d;
  --color-light: #f7fdfd;
  --color-contrast: #00cbd9;

  --color-dark-comp: #4d0e09;

  /* --color-station: #906bffff;
  --color-voice: #fb8358ff;
  --color-reflection:  #a1c26cff  ;
  --color-gallery:   #44bac2ff ;
  --color-tag: var(--color-dark); */

  --color-station: #b10dc9;
  --color-voice: #ff851b;
  /* --color-reflection: 2ecc40ff; */
  --color-reflection: #1b7926;
  --color-gallery: #0074d9;
  --color-tag: var(--color-dark);

  --color-pad: var(--color-dark);
  --color-image: var(--color-gallery);
  --color-contribution: var(--color-reflection);

  --border-color: var(--color-dark);
  --font-color: var(--color-dark);

  --font-size--header: 36px;
  --line-height--header: 36px;
  --font-size--title: 26px;
  --line-height--title: 36px;
  --font-size--bigger: 19px;
  --line-height--bigger: 26px;
  --font-size--normal: 14px;
  --line-height--normal: 19px;
  --font-size--smaller: 12px;

  --font-size: var(--font-size--normal);
  --line-height: var(--line-height--normal);
}

:root {
  --columns: 2;
  --columns-less: 2;
}

@media screen and (min-width: 750px) {
  :root {
    --columns: 3;
    --columns-less: 2;
  }
}

@media screen and (min-width: 1000px) {
  :root {
    --columns: 4;
    --columns-less: 3;
  }
}

@media screen and (min-width: 1250px) {
  :root {
    --columns: 5;
    --columns-less: 4;
  }
}

@media screen and (min-width: 1500px) {
  :root {
    --columns: 6;
    --columns-less: 5;
  }
}

@media screen and (min-width: 1750px) {
  :root {
    --columns: 7;
    --columns-less: 6;
  }
}

@media screen and (min-width: 2000px) {
  :root {
    --columns: 8;
    --columns-less: 7;
  }
}

@media screen and (min-width: 2250px) {
  :root {
    --columns: 9;
    --columns-less: 8;
  }
}

* {
  box-sizing: border-box;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

html {
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding: 100px;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--color-dark);
  font-family: "Inter", sans-serif;
  background-color: var(--color-light);
}

@supports (font-variation-settings: normal) {
  html,
  body {
    font-family: "Inter var", sans-serif;
  }
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  --font-size: var(--font-size--header);
  --line-height: var(--line-height--header);
  font-weight: 500;
  margin: 10px 0 10px 0;
}

h2 {
  font-size: var(--font-size--bigger);
  line-height: var(--line-height--bigger);
  margin: 0;
  font-weight: 500;
  letter-spacing: 0.05em;
}

h3 {
  margin-top: 0;
}

p,
li {
  margin-top: 0;
  margin-bottom: var(--line-height);
}

a {
  color: var(--color-contrast);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

svg#filter {
  width: 0;
  height: 0;
  max-width: 0;
  max-height: 0;
  visibility: hidden;
}

strong {
  font-weight: 600;
}

/* --------------- */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 2px solid var(--color-dark);
  background: var(--color-light);
  position: sticky;
  top: 0;
  z-index: 9;
}

/* --------------- */

#nav--titles {
  display: flex;
  align-items: center;
  height: 100%;
}

#nav--titles-repulse,
#nav--titles-asfts {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px 20px;
  height: 100%;

  background-color: var(--color-light);
  color: var(--color-dark);

  --font-size: var(--font-size--bigger);
  --line-height: 1;
  font-weight: 500;
}

#nav--titles-repulse a,
#nav--titles-asfts a {
  color: inherit;
  text-decoration: inherit;
}

#nav--titles .selected {
  background-color: var(--color-dark);
  color: var(--color-light);
}

@media screen and (max-width: 1000px) {
  #nav--titles {
    width: 100%;
    border-bottom: 2px solid currentColor;
  }

  #nav--titles-repulse,
  #nav--titles-asfts {
    padding: 10px 10px;
  }

  #nav--titles-asfts {
    flex-grow: 1;
    padding: 10px 10px;
  }
}

/* --------------- */

#nav--main ul {
  display: flex;
  height: 100%;
  width: 100%;
}

#nav--main ul li {
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

#nav--main li:hover {
  color: var(--color-contrast);
}

#nav--main li.selected {
  color: var(--color-light);
  background-color: var(--color-dark);
}

#nav--main a {
  text-decoration: none;
  font-size: var(--font-size--normal);
  color: currentColor;
}

@media screen and (max-width: 1000px) {
  #nav--main {
    width: 100%;
  }

  #nav--main ul li {
    padding: 5px 5px;
    flex-grow: 1;
  }

  #nav--main ul li:first-of-type {
    padding: 5px 10px 5px 10px;
    flex-grow: 0;
  }
}

/* --------------- */

#nav--sub {
  width: 100%;
}

#nav--sub:not(:empty) {
  border-top: 2px solid currentColor;
}

#nav--sub ul {
  display: flex;
  /* justify-content: flex-end; */
}

#nav--sub ul li {
  margin-bottom: 0;
  padding: 5px 20px;
  /* font-weight: 500; */
}

#nav--sub ul li:hover {
  color: var(--color-contrast);
}

#nav--sub ul li.selected {
  color: var(--color-light);
  background-color: var(--color-dark);
}

#nav--sub ul li a {
  display: block;
  text-decoration: none;
  font-size: var(--font-size--normal);
  color: currentColor;
  text-transform: capitalize;
}

.subnavfull {
  display: block;
}

.subnavtrim {
  display: none;
}

@media screen and (max-width: 1000px) {
  #nav--sub ul li {
    margin-bottom: 0;
    padding: 5px 10px;
    /* font-weight: 500; */
  }

  .subnavfull {
    display: none;
  }

  .subnavtrim {
    display: block;
  }
}

/* --------------- */

main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: [start] 1fr 3fr [end];
}

main > #container,
main > .item-type--page-title {
  padding: 40px 30px;
}

@media screen and (max-width: 900px) {
  main {
    grid-template-columns: [start] 1fr [end];
    grid-auto-rows: min-content;
  }
}

#container > * {
  align-self: flex-start;
}

#container {
  flex-grow: 1;
  max-width: 100%;
  display: grid;
  /* grid-template-columns: [start] repeat(var(--columns), calc((100% - (var(--columns) - 1) * 30px) / var(--columns))) [end]; */
  grid-template-columns: [start] repeat(var(--columns-less), minmax(0, 1fr)) [end];
  grid-auto-rows: 40px;
  grid-auto-flow: row dense;
  gap: 20px;
  column-gap: 30px;
  /* background-image: url("misc/Logo.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: calc(
    ((100% - (var(--columns) - 1) * 30px) / var(--columns) + 10px)
  ); */
}

#container.simple-grid {
  grid-auto-rows: min-content;
  grid-auto-flow: row;
}

#container:only-child {
  grid-column: start / end;
  grid-template-columns: [start] repeat(var(--columns), minmax(0, 1fr)) [end];
}

.simple-grid .item.item-type--sub-title {
  grid-column: start / end;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  position: relative;
}

.item > a:only-child {
  color: inherit;
  text-decoration: inherit;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: calc(10px + var(--line-height));
}

.item.item-type--station > a:only-child {
  padding-top: 0;
}

.item--meta {
  font-weight: 500;
  padding-bottom: calc(2 * var(--line-height));
}

.item--image-collection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
  column-gap: 60px;
}

.item--image-wrapper {
  height: 150px;
  flex-shrink: 1;
  margin: -20px -20px 0 -20px;
  background-color: currentColor;
  z-index: 1;
}

.item > a .item--image-wrapper {
  margin-top: calc(-20px - var(--line-height) - 10px);
}

.item--image-wrapper:nth-of-type(1n + 5) {
  display: none;
}

.item--image-wrapper .item--image {
  object-fit: none;
  width: 100%;
  height: 100%;

  image-rendering: pixelated;
  mix-blend-mode: overlay;
}

.item--image-wrapper .item--image {
  transform: rotate(2deg);
}

.item--reference:nth-of-type(even) .item--image {
  transform: rotate(-2deg);
}

.item--reference:nth-of-type(3n) .item--image {
  transform: rotate(-1deg);
}

.item--reference:nth-of-type(5n) .item--image {
  transform: rotate(1deg);
}

.item-type--gallery,
.item-type--image {
  grid-column: span 2;
}

.item-type--image .item--image-wrapper {
  height: 300px;
  flex-shrink: 1;
  margin: -20px -20px -10px -20px;
  background-color: currentColor;
  z-index: 1;
  position: relative;
}

.item-type--image .item--image-wrapper .item--image {
  mix-blend-mode: overlay;
}

.item-type--image .item--image-wrapper::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  border: 2px solid currentColor;
  pointer-events: none;
  z-index: 1;
}
.item--author > p {
  padding: 0;
  margin: 5px -10px;
  font-size: var(--font-size--smaller);
}

.item--description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  max-width: 70ch;
  padding: 0;
  margin: 0;

  font-size: 1rem;
}

.item--description:only-child {
  -webkit-line-clamp: 9;
}

.item--description p:only-child {
  margin-bottom: 0;
}

.item--gallery-description {
  display: flex;
  justify-content: space-between;
}

.item--gallery-description > p {
  margin-bottom: 0;
}

.item-type--page-title {
  filter: url(#titleNoise);
  padding-bottom: calc(4 * var(--line-height));
}

#container .item-type--page-title {
  grid-column-end: span 2;
}

.item-type--page-title h2 {
  max-width: 50ch;
}

.item--sub-title {
  grid-column-end: span 1;
  filter: url(#titleNoise);
  border: none;
}

.item--reference {
  cursor: pointer;
  border: none;
  position: relative;
  margin: 10px;
}

.item--reference::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border: 2px solid currentColor;
  pointer-events: none;
  z-index: 1;
}

.item--reference:hover {
  color: var(--color-dark);
}

.item--reference:hover .item--image {
  /* mix-blend-mode: overlay; */
  mix-blend-mode: lighten;
}

.item-type--image:hover .item--image {
  /* mix-blend-mode: overlay; */
  mix-blend-mode: lighten;
  cursor: zoom-in;
}

.item-type--image::after {
  border: none;
}

.item::before {
  color: var(--color-light);
  padding: 0 5px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: var(--font-size--smaller);
}

/* [data-item-object-type]::before {
  content: attr(data-item-object-type);
  background-color: var(--color-dark);
} */

.item-type--voice::before {
  content: attr(data-item-object-type);
  background-color: var(--color-voice);
}

.item-type--contribution::before {
  content: attr(data-item-object-type);
  background-color: var(--color-contribution);
}

.item-type--reflection::before {
  content: attr(data-item-object-type);
  background-color: var(--color-contribution);
}

.item-type--sharedspace::before {
  content: "shared space";
  background-color: var(--color-contribution);
}

.item-type--previewreview::before {
  content: "preview review";
  background-color: var(--color-contribution);
}

.item-type--tag::before {
  content: attr(data-item-object-type);
  background-color: var(--color-tag);
}

.item-type--pad::before {
  content: attr(data-item-object-type);
  background-color: var(--color-pad);
}

.item-type--station::before {
  content: attr(data-item-object-type);
  background-color: var(--color-station);
}

.item-type--event::before {
  content: attr(data-item-object-type);
  background-color: var(--color-station);
}

.item-type--gallery::before {
  content: attr(data-item-object-type);
  background-color: var(--color-gallery);
}

.item-type--voice {
  color: var(--color-voice);
}

.item-type--contribution,
.item-type--reflection,
.item-type--sharedspace,
.item-type--previewreview {
  color: var(--color-contribution);
}

.item-type--tag {
  color: var(--color-tag);
}

.item-type--pad {
  color: var(--color-pad);
}

.item-type--station,
.item-type--event {
  color: var(--color-station);
}

.item-type--image {
  color: var(--color-image);
}

.item-type--gallery {
  color: var(--color-gallery);
}

.item-type--video {
  color: var(--color-gallery);
}

.item-type--main {
  --font-size: var(--font-size--bigger);
  --line-height: var(--line-height--bigger);
}

.item-type--video,
.item-type--audio,
.item-type--main {
  grid-column: span 2;
}

[data-content-type="tag"] .item-type--main {
  grid-column: 1;
}

[data-reference] {
  border: 0.1em solid currentColor;
  text-decoration: none;
  padding: 0 0.2em;
}

[data-reference]:hover {
  color: var(--color-dark);
}

[data-link-target-type="voice"] {
  color: var(--color-voice);
}

[data-link-target-type="station"] {
  color: var(--color-station);
}

[data-link-target-type="contribution"] {
  color: var(--color-contribution);
}

[data-link-target-type="reflection"] {
  color: var(--color-reflection);
}

[data-link-target-type="image"] {
  color: var(--color-image);
}

[data-link-target-type="gallery"] {
  color: var(--color-gallery);
}

img {
  max-width: 100%;
}

.image img:hover {
  cursor: zoom-in;
}

.item--video-wrapper {
  min-height: 150px;
  flex-shrink: 1;
  margin: -20px -20px -20px -20px;
  background-color: currentColor;
  z-index: 1;
}
.item--video {
  /* min-height: 150px; */
  /* flex-shrink: 1; */
  margin: -20px -20px -20px -20px;
  /* background-color: currentColor; */
  /* z-index: 1; */
  min-width: 200px;
  /* width: 100%; */
  aspect-ratio: 16/9;

  /* object-fit: none; */
  /* width: 100%; */
  /* height: 100%; */

  image-rendering: pixelated;
}
.inline--video {
  min-width: 200px;
  width: 100%;
  aspect-ratio: 16/9;
}

/* ------ Modal CSS ----- */

.modal {
  position: fixed;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  z-index: 11;

  background-color: var(--color-light);
  border: 2px solid var(--border-color);

  display: none;

  grid-template-columns: 80px calc(100% - 160px) 80px;
  grid-template-rows: 80px calc(100% - 160px) 80px;

  grid-template-areas:
    "counter title close"
    "lArrow modalcontent rArrow"
    "author text text";

  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.modal > * {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.modal--counter {
  grid-area: counter;
}

#modal--gallery-title {
  grid-area: title;
}
.close {
  grid-area: close;
}
.leftArrow {
  grid-area: lArrow;
}

.modal--content {
  grid-area: modalcontent;
}

.rightArrow {
  grid-area: rArrow;
}

#modal--image-author {
  grid-area: author;
}

.modal--text {
  grid-area: text;
}

.modal--nav {
  color: var(--font-color);
  font-size: var(--font-size--header);
  transition: 0.3s;
}

.arrow {
  visibility: hidden;
}

#modal--image {
  max-width: 100%;
  max-height: 100%;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

#modal--video {
  display: none;
  max-width: 840px;
  width: 100%;
  aspect-ratio: 16/9;
}

#modal--image-author {
  width: fit-content;
  white-space: nowrap;
  padding-left: 30px;
}

.modal--text {
  flex-direction: column;
}

.modal--text > * {
  margin: 0;
}

.modal--nav:hover,
.modal--nav:focus {
  color: var(--color-contrast);
  text-decoration: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media screen and (max-width: 1000px) {
  .modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40px 40px calc(100% - 160px) 40px 40px;
    grid-template-areas:
      "counter close"
      "title title"
      "modalcontent modalcontent"
      "lArrow rArrow"
      "author text";
  }
  .modal > * {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
  }
  .close {
    justify-self: flex-end;
  }
  #modal--gallery-title {
    justify-self: center;
  }
  .modal--content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rightArrow {
    justify-self: flex-end;
  }
  #modal--image-author {
    padding: 0;
  }
}
/*
  hide images in gallery body
*/

body[data-content-type="gallery"] .item-type--main figure {
  display: none;
}

.item-type--station {
  grid-column: span 2;
}

.item-type--station.full {
  grid-column: 1 / -1;
  max-width: 1400px;
}

.item-type--station a:only-child {
  flex-direction: row;
}

.item-type--station.full > a:only-child .item--image-wrapper {
  min-width: 300px;
  /* width: auto; */
  /* height: auto; */
  /* max-height: 400px; */
  aspect-ratio: 2/1;
  margin: -20px 5px -20px -20px;
  max-width: 60%;
}

.item-type--station > a:only-child .item--image-wrapper {
  width: auto;
  height: auto;
  margin: -20px 5px -20px -20px;
}

.item-type--station .item--description {
  display: block;
  max-width: 50%;
  min-width: 40%;
}

.item-type--station.full .item--description {
  max-width: 60ch;
}

.item--description-title {
  margin: 0 0 0 0;
  font-size: var(--font-size--normal);
  font-weight: 700;
}

.full .item--description-title {
  margin: 0 0 10px 0;
  font-size: var(--font-size--title);
}

.item--description-date {
  font-weight: 500;
  font-size: var(--font-size--normal);
  margin: 0 0 var(--line-height--normal) 0;
}

.full .item--description-date {
  font-size: var(--font-size--title);
  margin: 0 0 var(--line-height--title) 0;
}

.item--description-question {
  margin: 0 0 10px 0;
  font-size: var(--font-size--normal);
  line-height: var(--line-height--normal);
  font-weight: 500;
}

.full .item--description-question {
  margin: 0 0 var(--line-height--bigger) 0;
  font-size: var(--font-size--bigger);
  line-height: var(--line-height--bigger);
}

.full .item--description-summary {
  font-size: var(--font-size--bigger);
  line-height: var(--line-height--bigger);
  margin: 0 0 var(--line-height--bigger) 0;

  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.full .item--description-summary * {
  font-size: var(--font-size--bigger);
  line-height: var(--line-height--bigger);
}

.item--description-meta {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-top: 1px solid currentColor;
}

.item--description-meta * {
  font-size: var(--font-size--smaller);
}

.full .item--description-meta * {
  font-size: var(--font-size--normal);
}

.full .item--description-meta-container {
  width: 45%;
}

.item--description-meta-title {
  font-weight: 700;
  margin: 10px 0 0px 0;
}

.full .item--description-meta-title {
  margin: 10px 0 0px 0;
}

.item--description-meta-items {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .item-type--station {
    grid-column: span 2;
  }

  .item-type--station a:only-child {
    flex-direction: column;
  }

  .item-type--station.full > a:only-child .item--image-wrapper {
    margin: -20px -20px -5px -20px;
    max-height: 70vw;
  }

  .item-type--station > a:only-child .item--image-wrapper {
    margin: -20px -20px -5px -20px;
  }

  .item-type--station .item--description {
    max-width: 100%;
  }

  .item-type--station.full .item--description {
    max-width: 100%;
  }

  .full .item--description-title {
    margin: 0;
    font-size: var(--font-size--normal);
  }

  .full .item--description-date {
    font-size: var(--font-size--normal);
    margin: 0 0 var(--line-height--normal) 0;
  }

  .full .item--description-question {
    margin: 0 0 var(--line-height--normal) 0;
    font-size: var(--font-size---line-height--normal);
    line-height: var(--line-height--normal);
  }

  .full .item--description-summary {
    font-size: var(--font-size---line-height--normal);
    line-height: var(--line-height--normal);
    margin: 0 0 var(--line-height--normal) 0;

    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .full .item--description-summary * {
    font-size: var(--font-size--normal);
    line-height: var(--line-height--normal);
  }

  .full .item--description-meta * {
    font-size: var(--font-size--smaller);
  }
}

.item-type--tag-counter {
  width: 100%;
  text-align: right;
  margin: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}

.item-type--tag-title {
  margin: 0;
}

.item.item--reference[data-with-context] {
  grid-column: span 2;
}

.item.item--reference[data-with-context] a,
.item.item--reference[data-with-context] a:only-child {
  padding-top: calc(1.5 * var(--line-height));
  flex-direction: column;
}

.item.item--reference[data-with-context] a * {
  margin: 0;
}

.item.item--reference[data-with-context] [data-link-marked] {
  /* text-decoration: underline; */
  /* text-decoration-style: dotted; */
  color: var(--color-dark);
  border: 0.1em solid currentColor;
  text-decoration: none;
  padding: 0 0.2em 0.1em 0.2em;
}

.image {
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 200px; */
  /* color: var(--color-dark-comp); */
}

.image:hover {
  color: var(--color-dark);
}

.image:hover .inline-image {
  mix-blend-mode: lighten;
}

.inline-image-wrapper {
  background-color: currentColor;
  max-height: 600px;
  width: auto;
  overflow: hidden;
}

.inline-image {
  object-fit: none;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
  mix-blend-mode: overlay;
}

figure {
  font-size: var(--font-size--smaller);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list--tags {
  list-style: none;
}

.list--tags:before {
  content: "Tags: ";
}

.list--tags li {
  display: inline;
}

.list--tags li:not(:last-child):after {
  content: ",";
}


.player.player--inline {
  display: flex;
  padding-left: 45px;
  min-height: 45px;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-top: var(--line-height);
  margin-bottom: var(--line-height);
}


.player--inline audio {
  display: none;
}


.player--inline .button.button--play-pause {
  border: none;
  height: 45px;
  width: 45px;
  padding: 5px;
  margin-left: -5px;
  background-color: transparent;
  color: inherit;
  position: absolute;
  top: 0;
  left: 0;
}


.player--inline .button.button--play-pause:hover {
  padding: 2px;
}


.player--inline .button--skip-backward,
.player--inline .button--skip-forward {
  display: none;
}

/* .player--inline[data-state="loading"] .button--label-play, */
.player--inline[data-playing="false"] .button--label-pause,
.player--inline[data-playing="true"] .button--label-play {
  display: none;
}


.button--label {
  fill: currentColor;
}

.button--skip-forward,
.button--skip-backward {
  margin-right: .5em;
}

.player.player--inline .track {
  flex: 1;
  height: 4px;
  border-radius: 2px;
  position: relative;
  margin: 0 1em 0 0.5em;
  background-color: white;
}

.player.player--inline .track--progress {
  position: absolute;
  top: 0;
  left: 0;
  background: currentColor;
  width: 0;
  bottom: 0;
}

.player.player--inline .track--scrubber {
  position: absolute;
  right: -.3em;
  width: .6em;
  height: .6em;
  background: currentColor;
  border-radius: .3em;
  top: calc(2px - .3em);
  cursor: pointer;
}

.player.player--inline[data-scrubbing] .track--scrubber,
.player.player--inline .track--scrubber:hover {
  right: -.4em;
  width: .8em;
  height: .8em;
  border-radius: .8em;
  top: calc(2px - .4em);
}

.player.player--inline .label--currentTime {
	font-size: var(--font-size--smaller);
  letter-spacing: 0.1px;
}

.item-type--audio .player.player--inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 15px;
}

[data-link-target-type="audio"] {
  --font-size: var(--font-size--normal);
  --line-height: var(--line-height--normal);
  border: 2px solid;
  padding: 10px;
}

[data-link-target-type="audio"] .player.player--inline {
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
}