<details class="syntax-help">
  <summary>Markdown cheatsheet</summary>
  <section class="syntax-help--content">
    Emphasis:<br>
    *italic*<br>
    **bold**<br>
    <br>
    Links:<br>
    &lt;http://www.example.com/&gt;<br>
    [example](http://www.example.com/)<br>
    <br>
    Titles:<br>
    # Header 1<br>
    ## Header 2<br>
    ### Header 3<br>
    <br>
    Linebreaks are not shown by default.<br>
    <br>
    Separate pargraphs with an empty line.<br>
    <br>
    Make a forced linebreak by inserting two spaces at the end of a line.<br>
    <br>
    Blockquoute:<br>
    &gt; Find a place you trust, and then try trusting it for awhile.<br>
    <br>
    Lists:<br>
    - Item<br>
    - List Item<br>
    - Another List Item<br>
    &nbsp;&nbsp;&nbsp;&nbsp;- A sub list is made<br>
    &nbsp;&nbsp;&nbsp;&nbsp;- By inserting four spaces<br>
    <br>
    Numbered lists:<br>
    1. First item<br>
    2. Another item<br>
    3. Item nr. 3<br>
    <br>
    Horizontal line:<br>
    ---<br>
    <br>
    [[ tag ]]<br>
    [[ tag | label to show ]]
  </section>
</details>