{% load wikify ethertoff_tags %}
<div class="metadata">
    <dl>
        {% if meta.participants %}
            <dt class="meta-participants">Participants</dt>
            {% for participant in meta.participants %}
            <dd property="dc:contributor" content="{{ participant }}">{{ participant|un_alphabetise }}</dd>
            {% endfor %}
        {% endif %}


        {% if meta.place %}
            <dt class="meta-place">Location</dt>
            {% for place in meta.place %}
            <dd property="dc:Location">{{ place }}</dd>
            {% endfor %}
        {% endif %}

        {% if meta.theme %}
            <dt class="meta-theme">Theme</dt>
            {% for theme in meta.theme %}
            <dd property="dc:subject">{{ theme }}</dd>
            {% endfor %}
        {% endif %}


        {% if meta.tags %}
            <dt class="meta-tags">Tags</dt>
            {% for tag in meta.tags %}
            <dd property="ctag:Tag">{{ tag }}</dd>
            {% endfor %}
        {% endif %}

        {% if meta.ingredients %}
            <dt class="meta-ingredients">Ingredients</dt>
            <dd>{{ meta.ingredients|natural_join:',' }}</dd>
        {% endif %}


        {% if meta.date_iso %}
            <dt class="meta-date">Date</dt>
            {% for date_iso in meta.date_iso %}
            {% with date_iso|to_date_obj as date %}
<dd {% if forloop.first %}property="dc:created"{% endif %} content="{{ date_iso }}">{% if date.minute == 0 and date.hour == 0 %}{{ date|date:"F j, o" }}{% else %}{{ date|date:"F j, o H:i" }}{% endif %}</dd>
            {% endwith %}
            {% endfor %}
        {% endif %}


        {% if meta.intervention %}
            <dt class="meta-intervention">Type of intervention</dt>
            {% for intervention in meta.intervention %}
            <dd property="dc:type">{{ intervention }}</dd>
            {% endfor %}
        {% endif %}


        {% if meta.licence %}
            <dt class="meta-licence">License</dt>
            {% if meta.licence.0 == "CC BY-ND 3.0 France" %}<dd><a href="http://creativecommons.org/licenses/by-nd/3.0/fr/" rel="license">{{ meta.licence.0 }}</a></dd>{% else %}<dd><span property="license">{{ meta.licence.0 }}</span></dd>
            {% endif %}
        {% endif %}

        {% if meta.pdf %}
            <dt class="meta-pdf">PDF</dt>
            <dd><a href="{{ meta.pdf.0 }}">Download</a></dd>
        {% endif %}


    </dl>


        {% if meta.colophon %}
            {{ meta.colophon.0|markdown_filter }}
        {% endif %}
</div>
