<details open class="syntax-help">
  <summary>Tags</summary>
  <section class="syntax-help--content">
    <ul>
      {% for tag in tags %}
        <li>
          {{ tag }}
        </li>
      {% endfor %}
    </ul>
  </section>
</details>