<ul>
  <li class="navbar--index">
    <a href="{{ SITE_URL }}">{{ PUBLICATION_TITLE }}</a>
  </li>
  {% for chapter in chapters %}
    {% if chapter.position.value == 'before_content' and chapter.on_web.value != 'false' %}
      <li class="navbar--chapter navbar--chapter--{{ chapter.key }}"><a href="{{ chapter.url }}">{{ chapter }}</a></li>
    {% endif %}
  {% endfor %}
  <li {% if page_content.content_type == "report" %}class="selected"{% endif %} class="navbar--reports">
    <a href="{{ SITE_URL }}/reports.html">reports</a>
    <ul class="navbar--reports--subnav">
      {% for report in reports %}
      <li class="navbar--report navbar--report--{{ report.key }}"><a href="{{ report.url }}">{{ report }}</a></li>
      {% endfor %}
    </ul>
  </li>
  <li class="navbar--pages">
    <a href="{{ SITE_URL }}/pads.html">pages</a>
    <ul class="navbar--pages--subnav">
      {% for page in pages %}
      <li class="navbar--page navbar--page--{{ page.key }}"><a href="{{ page.url }}">{{ page }}</a></li>
      {% endfor %}
    </ul>
  </li>
  <li class="navbar--labels">
    <a href="{{ SITE_URL }}/labels.html">labels</a>
    <ul class="navbar--labels--subnav">
      {% for label in labels %}
      <li class="navbar--label navbar--label--{{ label.key }}"><a href="{{ label.url }}">{{ label }}</a></li>
      {% endfor %}
    </ul>
  </li>
  <li class="navbar--print">
    <a href="{{ SITE_URL }}/print.html">print version</a>
  </li>
</ul>