:root {
    --color: black;
    --serif: "serif";
    --sans: "sans-serif";
    --body-font: var(--sans);
    --header-font: var(--serif);
    --mono: Monospace;
    --font-size: 14pt;
    --line-height: 18pt;
    --font-size-small: 10pt;
    --highlight-color: #f2f2ff;
    --button-color: #f2f2ff;
    --button-color--hover: #d4d4fa;
    --button-color--active: #b8b8d4;
}


/* BLOCKS -------------------------------------  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga", "dlig", "clig", "kern";
    -webkit-font-feature-settings: "liga", "dlig", "clig", "kern";
    -moz-font-feature-settings: "liga", "dlig", "clig", "kern";
    -o-font-feature-settings: "liga", "dlig", "clig", "kern";
}
html, body {
    color: var(--color);
    font-family: var(--body-font);
    font-size: var(--font-size);
    line-height: var(--line-height);
}
/* Style des niveaux de titre */
h1, h2, h3, h4, h5, h6 {
    font-size: var(--font-size);
    font-weight: bold;
    font-family: var(--header-font);
    margin: 0;
    margin-top: calc(2 * var(--line-height));
    margin-bottom: var(--line-height);
    padding-top: var(--line-height);
    clear: both;
}
h1 {
    font-size: var(--font-size);
    line-height: var(--line-height);
    margin: var(--line-height) 0;
    font-family: var(--header-font);
    font-weight: normal;
}
h2 {
    font-size: calc(var(--font-size) * 1.5);
    text-transform: uppercase;
    font-family: var(--header-font);
    font-weight: normal;
}
h3 {
    text-transform: uppercase;
    margin: var(--line-height) 0;
    font-family: var(--header-font);
    font-weight: normal;
}
h4 {
    text-decoration: underline;
}
img {
    max-width: 200px;
    float: left;
    margin: calc(var(--line-height) / 2);
    display: block;
}
img.inline {
    display: inline;
    vertical-align: top;
    margin: 0;
    height: 1em;
}
img.large {
    width: 90%;
    max-width: none;
    margin: auto;
}
.thumbnail {
    max-width: 30%;
}
blockquote {
    font-family: var(--sans);
    font-size: var(--font-size);
    margin: var(--line-height) calc(2 * var(--line-height));
}
p {
    margin-bottom: var(--line-height);
    clear: both;
}
hr {
    border: 0;
    height: var(--line-height);
    margin: 0;
}
hr + hr {
    display: block;
    border-bottom: 1px solid black;
}
code, pre {
    font-family: var(--mono);
    white-space: pre-wrap;
}
pre {
    outline: 1px solid var(--color);
    padding: var(--line-height);
    width: 75%;
}
/* Style des légendes d'images */
figcaption {
    font-family:  var(--sans);
    font-size: var(--font-size-small);
    line-height: 1.3em;
    text-align: center;
    margin-bottom: var(--line-height);
}
/* Style des frames de vidéo ou autres objets hors image */
figure iframe {
    max-width: 70%;
    margin: var(--line-height) auto;
    display: block;
}
audio,
video {
    display: block;
    clear: both;
    margin: auto;
    margin-bottom: calc(var(--line-height) * 2);
}
/* Style des notes de bas de pages */
.footnote {
    font-size: var(--font-size-small);
    line-height: 1.3em;
    margin-bottom: calc(2 * var(--line-height));
}
.footnote p {
    margin-bottom: 0;
}
/* INLINES ------------------------------------- */
/* Style des liens hypertextes */
a,
a:visited {
    text-decoration: none;
    color: var(--color);
}
/* Style du texte en roll-over sur les liens */
a:hover {
    text-decoration: none;
    color: black;
}
/* Style quand on arrive à une ancre */
.target {
    background-color: var(--color);
}
/* Style de l'italique */
em {
    font-style: italic;
}
/* Style du bold */
strong {
    font-weight: bold;
}
/* Style des exposants */
sup {
    font-size: 0.65em;
    line-height: 0;
    vertical-align: 0.5em;
}
sup a {
    font-family:  var(--sans);
}
/* Style du texte souligné */
u {
    text-decoration: none;
    border-bottom: 2px solid yellow;
}
dt {
    font-style: italic;
    display: inline;
    font-family: var(--sans);
}
dt:after {
    content: ": ";
}
dd {
    display: inline;
    margin:0;
}
dd:after {
    content:'\0A';
    white-space:pre;
}
dd + dd {
    margin-left: calc(var(--line-height) * 2);
}
.metadata {
    font-family: var(--sans);
    font-size: var(--font-size-small);
    line-height: 1.25em;
 }
.metadata dt,
.metadata dd {
    float: left;
}
.metadata dt {
    clear: both;
    margin-right: 4px;
}
.metadata dd +dd {
    margin-left: 0;
}
.metadata dd:after {
    content: ", ";
}
.metadata dd:last-child:after {
    content: "";
}
.metadata dt.meta-participants {
    display: none;
}
.comment:before {
    background-color: yellow !important;
    border-radius: 1em;
    display: inline;
    height: 1em;
    margin: 0 0.5em;
    padding-left: 7px;
    padding-right: 9px;
    text-align: center;
    width: 1em;
    content: "!";
    font-family:  var(--sans);
}
#content ul li:before {
    content: "– ";
    margin-left: calc(2 * var(--line-height));
}
ol {
    list-style-type: decimal;
    margin-left: calc(2 * var(--line-height));
}
.footnote ol li {
    margin-bottom: 0em;
}
dl.meta {
    font-family: var(--sans);
    color: lightgray;
    font-size: var(--font-size-small);
   line-height: 1.25em;
}
div#go-up {
    clear: both;
    margin-top: calc(2 * var(--line-height));
}
div#go-up a {
    border-bottom: none;
}
div#go-up a:hover {
    color: var(--color);
}
/* AUTHORSHIP ----------------------------- */
.authors {
    display: inline;
}
/* Hides Etherpad background colours */
#content span {
    background-color: inherit !important;
}
/* FORMS -------------------------- */
form {
    margin-bottom: none;
}
form label, form textarea {
    font-family: inherit;
    font-size: inherit;
}
form input, form textarea, form select {
	background: none;
	border-style: solid;
	border-color: #333;
	border-width: 1px;
	border-radius: 3px;
	font-family: sans-serif;
	font-size: inherit;
}
form label {
    display: inline-block;
    width: 15ch;
}
form label.label--inline {
    width: auto;
}
/* Style de l'élément activé */
form input:focus, form textarea:focus {
    background-color: white;
}
form input[type=text],
form input[type=password],
form select {
    padding: 5px;
    width: 30ch;
    display: inline-block;
}

form input[type=text].input--inline,
form input[type=password].input--inline,
form select.select--inline {
    width: auto;
}

.form-row {
    padding-bottom: calc(.5 * var(--line-height));
    margin-bottom: calc(.5 * var(--line-height));
}
.form-row--button {
    padding-left: 15ch;
}

label input[type="checkbox"] {
    margin-right: 1ch;
}

/* GENERIC CLASSES -------------------------------- */
/* Style des boutons */
.button,
form input[type=submit] {
    cursor: default;
    color: var(--color);
    padding: .4rem 1rem;
    border: none;
    text-decoration: none;
    background-color: var(--button-color);
    border-radius: 3px;
    letter-spacing: 1px;
    font-size: .9rem;
    line-height: .9rem;
    text-transform: uppercase;
    font-family: var(--sans);
}
.button:hover,
form input[type=submit]:hover {
    background-color: var(--button-color--hover);
}
.button:active,
form input[type=submit]:active {
    background-color: var(--button-color--active);
    box-shadow: 0px 0px 2px inset #333;
}

/* Classe pour transformer des éléments blocs en éléments en ligne */
.inline {
    display: inline;
}
/* PAGE STRUCTURE --------------------------------- */
/* Style des containers */


body {
    display: grid;
    grid-template-rows: [nav] min-content [title] min-content [content] 1fr [footer] min-content;
    grid-template-columns: [left] 1fr [middle] minmax(800px, 2fr) [right] 1fr;
    min-height: 100vh;
}
#nav-left {
    grid-row: nav;
    grid-column: left / span 2;
}
#nav-right {
    grid-row: nav;
    grid-column: right;
}
#title-left {
    grid-row: title;
    grid-column: left;
}
#title {
    grid-row: title;
    grid-column: middle;
}
#title-right {
    grid-row: title;
    grid-column: right;
}
#content-left {
    grid-row: content;
    grid-column: left;
}
#content {
    grid-row: content;
    grid-column: middle;
}
#content-right {
    grid-row: content;
    grid-column: right;
}
#footer {
    grid-row: footer;
    grid-column: left / span 3;
}
/* Main content --------------------------------- */
/* Insertion du pad dans la page */
.write-mode #content,
.write-public-mode #content {
    display: flex;
    flex-direction: column;
}
iframe#ether {
    /* outline: 1px solid #333; */
    flex: 1 0;
    /* max-width: 50em; */
    /* margin: auto; */
    width: 100%;
}
/* NAV ------------------------------------------ */
/* Navigation */
nav {
    font-family: var(--sans);
    line-height: var(--line-height);
    position: sticky;
    top: 0;
    background-color: white;
    padding: calc(var(--line-height) / 4);
    z-index: 1000;
}
nav div#staff-menu {
    display: inline;
    color: darkgray;
}
nav h1 {
    display: inline;
}
nav span:before {
    content: " — ";
}
nav div#sort-by {
    display: inline;
    color: darkgray;
}

/* Texte précédent/suivant */
div#previous a,
div#next a {
    position: fixed;
    top: 6.5em;
    font-family:  sans-serif;
    font-size: var(--font-size-small);
    line-height: 1.2em;
    padding: var(--line-height);
    z-index: 6666;
}
div#previous a span,
div#next a span {
    display: none;
}
div#previous a:hover span,
div#next a:hover span {
    display: block;
}
div#next {
    text-align: right;
    padding-right: 0;
}
div#next a {
        right: 0;
}

/* ------ PRINT/SCREEN ------ */
@media screen {
    .print-only {
    display: none;
    }
}
/* User Interface */
.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999999;
    background: rgba(0,0,0,0.6667);
    text-align: center;
}
.popup-wrapper.hidden {
    display: none;
}
.popup-wrapper:before {
    position: relative;
    height: 100%;
    content: "";
    display: inline-block;
    vertical-align: middle;
}
.popup {
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    padding: 30px;
}
/* PAD MANAGEMENT LIST -------------------- */
.manage_list li {
    border-bottom: 1px solid #c6c6fe;
    padding: 0.5em 0 0.5em 0;
}
#content .manage_list li.pad::before {
    display: inline-block;
    width: 1ch;
    margin-left: calc(0.5 * var(--line-height));
    margin-right: calc(0.5 * var(--line-height));
    content: ' ';
}
#content .manage_list li.folder::before {
    display: inline-block;
    width: 1ch;
    margin-left: calc(0.5 * var(--line-height));
    margin-right: calc(0.5 * var(--line-height));
    content: '▸';
}
.manage_list li:hover {
    background-color: var(--highlight-color);
}
.manage_list li .actions {
    float: right;
}
.manage_list li .actions .button {
    font-size: 60%;
}

.manage_list li .actions .button--delete:hover {
    color: crimson;
}
.pagination {
    text-align: center;
    padding-top: .5em;
}
.pagination .step-links.previous {
    float: left;
}
.pagination .step-links.next {
    float: right;
}
.pad-list--path, .pad-list--actions {
    background: white;
    position: sticky;
    padding: .5em .2em;
}
.pad-list--path {
    top: 2em;
    display: flex;
}
.pad-list--path--separator::before {
    content: '>';
    margin-left: .5ch;
    margin-right: .5ch;
    color: grey;
}
.pad-list--path .push {
    margin-left: auto;
    margin-right: 0;
}
.pad-list--actions {
    bottom : 0;
}
#content span[property] {
    background-color: lightgrey!important;
}

.button--nav {
    font-size: .75rem;
    margin-left: .25rem;
    margin-right: .25rem;
    padding: .25rem .5rem;
    border-radius: 3px;
}
.button--nav:hover {
    background-color: var(--button-color--hover);
}

.syntax-help {
    font-size: 75%;
    max-height: calc(100vh - 75px);
    overflow: auto;
}

.syntax-help--wrapper {
    display: flex;
    position: relative;
    column-gap: 2ch;
    padding: 0 2ch;
}

.syntax-help--content {
    position: absolute;
    background-color: white;
    z-index: 9;
    left: 0;
    right: 0;
    padding: 2ch;
}

.write-mode #content,
.write-public-mode #content {
    grid-column: left / span 3;
}

.write-mode #content-left,
.write-public-mode #content-left,
.write-mode #content-right,
.write-public-mode #content-right {
    display: none;
}

#staff-menu .publication-list {
    display: inline-block;
	position: relative;
}

.publication-list a {
	display: block;
}

.publication-list--content {
	position: absolute;
	background-color: white;
	z-index: 9;
	left: 0;
    right: 0;
	padding: 1ch 2ch 2ch 2ch;
	position: absolute;
}