{% extends "base.html" %}
{% load wikify %}

{% block content %}
    <ul id="pads_list">
        {% for pad in publicpads %}
            <li><a data-uid="{{ pad.display_slug }}" href="{% url 'pad-read' mode='r' slug=pad.display_slug %}" class="pad-link">{{ pad.display_slug|dewikify }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
