{% load wikify ethertoff_tags static generator_utils %}<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" {% if meta.language %} lang="{{ meta.language.0 }}" {% endif %} moznomarginboxes mozdisallowselectionprint>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" type="text/css" media="all">
    
    {% block extra_styles %}
        <link rel="stylesheet" href="{% url 'css-screen' %}" type="text/css" media="screen">
        <link rel="stylesheet" href="{% url 'css-print' %}" type="text/css" media="print">
    {% endblock %}

    <script src="{% static 'js/jquery-1.11.1.min.js' %}" type="text/javascript"> </script>
    <script src="{% static 'js/underscore.js' %}" type="text/javascript"> </script>

    {% block head_meta %}{% endblock %}

    <title>{{ site_name }}{% if pad %} → {{ pad.display_slug|dewikify }}{% endif %}</title>
    
</head>
<body class="pad-{{ pad.display_name|slugify }} {{ mode }}-mode {% if user.is_authenticated and author %}logged-in{% else %}logged-out{% endif %} {% block bodyclasses %}{% endblock %}">
    <nav id="nav-left">
        <h1><a id="logo" data-article="{% block data_article %}{% endblock%}" href="/">{{ site_name }}</a></h1>
        <!-- <a class="button--nav screen-only" href="/r/About.md">About</a> -->
        
        <!-- 
        <div id="sort-by">Sort by:
            <a class="{% if sort == 'date' %}active{% endif %} button screen-only" href="/?sort=date">Date</a>
            <a class="{% if sort == 'tags' %}active{% endif %} button screen-only" href="/?sort=tags">Tag</a>
            <a class="{% if sort == 'authors' %}active{% endif %} button screen-only" href="/?sort=authors">Author</a>
        </div>-->
        {% block extra_nav %}{% endblock %}
        
        <a class="button--nav screen-only" href="{% url 'all' %}">List</a>

        {% if user.is_authenticated and author %}
        <div id="staff-menu" class="private">
            <span class="screen-only">{{ author.full_name_with_prefix }}</span>
            <a class="button--nav screen-only" href="{% url 'logout' %}{% if pad %}?next={% url 'pad-read' 'r' pad.display_slug %}{% endif %}">Log out</a>
            <a class="button--nav screen" href="{% url 'password_change' %}">Change password</a>
            <a class="button--nav screen-only" href="{% url 'pad-create' %}">Create Pad</a>
            <a class="button--nav screen-only" href="{% url 'admin:filer-directory_listing-root' %}" target="_blank">File manager</a>
            <a class="button--nav screen-only" href="{% url 'index-labels' %}">Update labels</a>
            <a class="button--nav screen-only" href="{% url 'generate' %}">Generate publications</a>
            <!-- <a class="button--nav screen-only" href="{% generated_site_url %}">View static version</a> -->
            <!-- <a class="button--nav screen-only" href="{% generated_site_debug_url %}">View debug information</a> -->
            <!-- <a class="button--nav screen-only" href="/w/screen.css">screen.css</a> -->
            <!-- <a class="button--nav screen-only" href="/w/laser.css">laser.css</a> -->
            <!-- <a class="button--nav screen-only" href="/w/offset.css">offset.css</a> -->
            <!-- <a class="button--nav screen-only" href="/w/documentation.md">documentation</a> -->
            {% else %}
            <a class="button--nav" href="{% url 'login' %}">Log in</a>
            {% endif %}
            
        </div>
    </nav>
    <nav id="nav-right">
        {% if user.is_authenticated %}
        <details class="publications publication-list">
            <summary class="button--nav">Publications</summary>
            <div class="publication-list--content">
                {% for publication in publications %}
                    <a class="button--nav screen-only" href="{{ publication.url }}">{{ publication.title|striptags }}</a>
                {% endfor %}
            </div>
        </details>
        {% endif %}
    </nav>
    <!--
    <nav id="nav-right">
        {% if pad %}
            <a class="button--nav screen-only read-button" href="{% url 'pad-read' 'r' pad.display_slug %}">Read</a>
            <a class="button--nav screen-only slide-button" href="{% url 'pad-read' 's' pad.display_slug %}">Slide</a>
            <a class="button--nav screen-only" href="{% url 'pad-read' 'p' pad.display_slug %}">Print</a>
            {% if pad.is_public or user.is_authenticated %}
                <a class="button--nav screen-only write-button" href="{% url 'pad-write' pad.display_slug %}">Write</a>
            {% else %}
                <a class="button--nav screen-only write-button login-required" href="{% url 'login' %}">Write</a>
            {% endif %}
        {% endif %}
    </nav>
    -->

    <aside id="title-left" class="left-side screen-only">
        {% block title_left %}{% endblock %}
    </aside>

    <header id="title" class="middle">
        {% block title %}{% endblock %}
    </header>

    <aside id="title-right" class="right-side screen-only">
        {% block title_right %}{% endblock %}
    </aside>
    <aside id="content-left" class="left-side screen-only">
        {% block leftside %}{% endblock %}
    </aside>
    <main id="content" class="middle {% block contentclasses %}{% endblock %}">
        {% block content %}{% endblock %}
    </main>
    <aside id="content-right" class="right-side screen-only">
        {% block rightside %}{% endblock %}
    </aside>
    {% block extraui %}{% endblock %}

    <footer id="footer"></footer>

    <script src="{% static 'js/ethertoff.js' %}" type="text/javascript" charset="utf-8"> </script>
    <script src="{% static 'js/comments/comments.js' %}" type="text/javascript" charset="utf-8"> </script>

    {% if user.is_authenticated and author %}
        <script>
            $(function() {
                $("#content").revealComments();
            });
        </script>
    {% endif %}


    {% block scripts %}{% endblock %}
</body>
</html>
