{% extends "base.html" %}
{% load static generator_utils %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% url 'css-screen' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% url 'css-print' %}" type="text/css" media="print">
    <link rel="stylesheet" href="{% static 'css/progress.css' %}" type="text/css" media="all">
{% endblock %}

{% block content %}
  {% if indexed %}
  <p style="background-color: white">Tags indexed</p>
  <p>Found:</p>
  <ul>
    {% for tag in tags %}
      <li>{{ tag }}</li>
    {% endfor %}
  </ul>
  {% else %}
  <div id="loading">
      <div class="meter red">
          <span style="width: 25%"></span>
      </div>
      <p>Indexing tags, please don’t stop or refresh this page:</p>
      <p>This might take a while.</p>
  </div>
  <form action="" method="post">
      {% csrf_token %}
      <input style="" type="submit" class="submit" value="Index"/>
  </form>
  <script>
      $("input[type=submit]").click(function() {
          $(this).hide();
          $("#loading").show();
      });
  </script>
  {% endif %}
{% endblock %}