{% extends "base.html" %}
{% load wikify %}
{% block title %}
  <h2>Pads</h2>
{% endblock %}
{% block content %}
    <section class="pad-list--path">
        <a href="{% url 'manage' %}">root</a>
        {% for name, path in crumbs %}
            {% if path %}
              <span class="pad-list--path--separator"></span>
              <a href="{% url 'manage' path|pathString  %}">{{ name }}</a>
            {% endif %}
        {% endfor %}
        {% if currentPath %}
          <a href="{% url 'pad-create' currentPath|pathString %}" class="button push">+ create pad</a>
        {% else %}
          <a href="{% url 'pad-create' %}" class="button push">+ create pad</a>
        {% endif %}
    </section>
    <ul id="pads_list" class="manage_list">
        {% for key, type, object in dir_list %}
            {% if type == 'pad' %}
              <li class="pad"><a data-uid="{{ object.display_slug }}" href="{% url 'pad' mode=PAD_OPEN_MODE slug=object.display_slug %}" class="pad-link">{{ object.display_slug|stripPath:currentPath|dewikify }}{% if object.is_public %} (public){% endif %}</a>
                <section class="actions">
                  {% if object.is_public %}
                      <a href="{% url 'pad-private' object.pk %}" class="button button--private">make private</a>
                  {% else %}
                      <a href="{% url 'pad-public' object.pk %}" class="button button--public">make public</a>
                  {% endif %}
                  <a href="{% url 'pad-rename' object.pk %}" class="button button--rename">rename</a>
                  <a href="{% url 'pad-delete' object.pk %}" class="button button--delete">delete</a>
                </section>
              </li>
            {% else %}
              <li class="folder"><a href="{% url 'manage' key|addPath:currentPath %}">{{ key }}</a>
                <section class="actions">
                  <a href="{% url 'folder-rename' key|addPath:currentPath %}" class="button button--rename">rename</a>
                </section>
              </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
