{% extends "base.html" %}
{% load ethertoff_tags wikify generator_utils %}

{% block extra_styles %}
  <link rel="stylesheet" href="{% url 'css-screen' %}" type="text/css" media="screen">
  <link rel="stylesheet" href="{% url 'css-print' %}" type="text/css" media="print">
{% endblock %}

{% block title %}
    <header>
    {% if meta.authors %}
        <p class="authors">{{ meta.authors|natural_join:'et' }}</p>
    {% endif %}
    <h1>
        {{ meta.title.0|default:pad.display_slug }}
    </h1>
    </header>
{% endblock %}

{% block content %}
  {% if error %}
  <div id="main">
    <div id="errors">
      <h2>Errors:</h2>
      <p>{{error}}</p>
    </div>
  </div>
  {% else %}
  <section class="pad-list--path">
    <a href="{% url 'manage' %}">root</a>
    {% for name, path in crumbs %}
        {% if not forloop.last %}
        > <a href="{% url 'manage' path|pathString  %}">{{ name }}</a>
        {% else %}
        > {{ name }}
        {% endif %}
    {% endfor %}
  </section>
  <iframe id="ether" src="{{link}}{% if uname %}?userName={{uname}}{% endif %}"> </iframe>
  {% endif %}

{% endblock %}


{% block rightside %}
  {% include "partials/markdown-guide.html" %}
{% endblock %}