{% extends "base.html" %}
{% load wikify ethertoff_tags %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% url 'css-screen' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% url 'css-print' %}" type="text/css" media="print">
{% endblock %}


{% block head_meta %}
    <meta property="og:type" content="article"/>
{% if meta %}

    {% if meta.authors %}
        {% for author in meta.authors %}
            <meta property="dc:creator" content="{{ author }}" />
        {% endfor %}
    {% endif %}
    {% if meta.language %}{% for language in meta.language %}<meta property="dc:language" content="{{ language|lower }}" />{% endfor %}{% endif %}

    <meta property="dc:identifier" content="{{ meta.id.0 }}" />
    {% if meta.type %}<meta property="dc:type" content="{{ meta.type.0 }}" />{% endif %}
{% endif %}
{% endblock %}


{% block data_article %}{{ meta.authors|natural_join:'&'|markdown_filter|no_p }}, {{ meta.title.0 }}{% endblock %}

{% block bodyclasses%}{% if meta.host %}{{ meta.host.0|lower }}{% endif %} {% if meta.type %}{{ meta.type.0|lower }}{% endif %}{% endblock %}
{% block contentclasses%}{% if meta.host %}{{ meta.host.0|lower }}{% endif %} {% if meta.type %}{{ meta.type.0|lower }}{% endif %}{% endblock %}

{% block title_left %}
    {% if prev_page %}<div id="previous">
        <a href="{{ prev_page.href }}" title="{{ prev_page.authors|natural_join:'&' }}, {{ prev_page.title }}">&larr;<br/>
        <span>{{ prev_page.authors|natural_join:'&' }}<br/>
        {{ prev_page.title|safe }}</span></a>
    </div>{% endif %}
{% endblock %}


{% block content %}
    {% include "partials/metadata.html" %}

        <header class="{% if meta.type %}{{ meta.type.0|lower }}{% endif %}">
        {% if meta.authors %}
            <p class="authors">{{ meta.authors|natural_join:'&' }}</p>
        {% endif %}
        <h2 property="dc:title">
            {{ meta.title.0|default:pad.display_slug|markdown_filter|no_p }}
        </h2>
        </header>

    {{ text|safe }}
{% endblock %}

{% block extraui %}
    {% if not user.is_authenticated %}
        <div class="popup-wrapper hidden">
            <div class="popup">
              <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <label for="id_username">Username</label>
                <input id="id_username" maxlength="254" name="username" type="text" />
                <label for="id_password">Password</label>
                <input id="id_password" name="password" type="password" />
            
                <input class="submit" type="submit" value="Login" />
                <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url 'home' %}{% endif %}" />
              </form>
            </div>
        </div>
    {% else %}
        <div id="print-interface">
            <button id="debug">Debug</button>
            <button id="spread">Spread</button>
            <button id="hi-res">Hi-res</button>
            <div id="toc" class="dropdown">
                <button id="goto">Go to</button>
                <ul id="toc-pages"> </ul>
            </div>
            <div class="dropdown">
                <button id="zoom">Zoom</button>
                <ul id="zoom-list">
                    <li><a href="#" title="25">25&thinsp;%</a></li>
                    <li><a href="#" title="33">33&thinsp;%</a></li>
                    <li><a href="#" title="50">50&thinsp;%</a></li>
                    <li><a href="#" title="75">75&thinsp;%</a></li>
                    <li><a href="#" title="100">100&thinsp;%</a></li>
                    <li><a href="#" title="150">150&thinsp;%</a></li>
                    <li><a href="#" title="200">200&thinsp;%</a></li>
                    <li><a href="#" title="300">300&thinsp;%</a></li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/print.js' %}" type="text/javascript" charset="utf-8"> </script>
{% endblock %}
